<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("baby.png",class:"img-fluid rounded-circle",style:"height:2em;") %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto lista">
        <li class="nav-item">
          <a class="nav-link" href="#">Quem Somos</a>
        </li>
        <% if not user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Entrar</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="<%= au_pairs_path %>">Encontre Babás</a>
        </li>
        <% if admin_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_au_pair_path %>">Cadastrar Babá</a>
          </li>
          <li class="nav-item">
            <%= link_to "Admin: #{current_admin.name}", admin_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sair', destroy_admin_session_path, method: :get, class: 'nav-link'  %>
          </li>
        <% elsif user_signed_in? %>
          <li class="nav-item">
            Usuário: <%= current_user.email %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sair', destroy_user_session_path, method: :get, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_au_pair_path %>">Trabalhe conosco</a>
          </li>
        <% end %>
      </ul>
    </div>
</nav>