<h1>Proposta</h1>
<h2>Contrada: <%= @proposal.au_pair.name %></h2>
<h3>Descriçao: </h3>
  <ul>
    <li>Data: <%= I18n.l @proposal.booked_date %></li>
    <li>Hora de Início: <%= I18n.l @proposal.start_hour, format: :mini %></li>
    <li>Hora de Término: <%= l @proposal.end_hour, format: :mini %></li>
    <li>Messagem: <%= @proposal.message %></li>
    <li>Preço Final: <%= number_to_currency @proposal.final_price %></li>
  </ul>