<h1>Cadastrar Nova Babá</h1>
<h4> Vem trabalhar com a gente, preencha o formulario abaixo e espere nossa curadoria entrar em contato com você</h4>
<%= simple_form_for(@au_pair) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :cpf %>
  <%= f.input :skills %>
  <%= f.input :languages %>
  <%= f.input :degree %>
  <%= f.input :birth_date, as: :string %>
  <%= f.input :city %>
  <%= f.input :wage %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Enviar' %>
<% end %>
<br>
<br>
<br>