<div class="container">
 <section class="baba-show">
    <h1><%= @au_pair.name %></h1>
    <div></div>
    <div class="foto">
      <%= image_tag @au_pair.photo.url(:thumb) %>
      <label class="cidade"> Cidade: <%= @au_pair.city %></label>
    </div>
    <div class="texto">
      <ul>
        <li><%= t('activerecord.attributes.au_pair.birth_date') %> <%= I18n.l @au_pair.birth_date %></li>
        <li><%= "#{t('activerecord.attributes.au_pair.skills')} #{@au_pair.skills}" %></li>
        <li><%= "#{t('activerecord.attributes.au_pair.degree')} #{@au_pair.degree}" %></li>
        <li class="rating" data-score=<%=@au_pair.average_rating%>>Avaliação <%= @au_pair.average_rating %></li>
      </ul>
      <%=link_to 'Criar depoimento', new_au_pair_testimonial_path(@au_pair) %>
    </div>

    <div>
      <h5>Depoimentos (<%= @au_pair.testimonials.count %>)</h5>
      <% if @au_pair.testimonials.empty? %>
        <p>Nenhum depoimento</p>
      <% end %>
      <% @au_pair.testimonials.each do |testimonial| %>
        
        <p><%= testimonial.title %></p>        
      <% end %>
    </div>
  </section>
  </div>



  <script>
  $('.rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
